@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #3a3a3a;
  --secondary: #6f6f6f;
  --accent: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: #ffffff;
    --primary: #ffffff;
    --secondary: #a0a0a0;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

b {
  font-weight: 600;
}
a {
  font-weight: 600;
  font-family: Inter;
  text-decoration-line: underline;
  text-decoration-thickness: 0.05em;
  text-underline-offset: 1px;
  color: var(--primary);
  &:hover {
    opacity: 0.8;
    transition: all 0.2s;
  }
  cursor: pointer;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
